<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Prototype - Home Automation</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
      <!-- style css -->
      <!-- <link rel='stylesheet' href="css/style.css"> -->
      <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>
<body class="main-layout" style="max-width: 800px; margin:auto;">
    <div class="collection_section layout_padding container-fluid" style="margin:0px; padding:0px;">
        <div class="row">
            <ul class="nav nav-pills col-lg-12">
                <li class="active col-lg-6 col-sm-6 col-6" style="padding:0px;">
                    <a href="#tab1" data-toggle="tab"><button class="btn b" style="font-size:20pt;">Video</button></a>
                </li>
                <li class="col-lg-6 col-sm-6 col-6" style="padding:0px;">
                    <a href="#tab2" data-toggle="tab"><button class="btn b" style="font-size:20pt;">Chat</button></a>
                </li>
            </ul>
        </div>
        <hr>
        <!-- Video Section -->
        <div class="tab-content clearfix">
            <div class="tab-pane" id="tab1">
              <div class="layout_padding gallery_section text-center" style="background-color: #131111;height:300px; padding: 20px; display: none;" id="streamcontainer">
                <img src="" data-src="{{ stream_url }}" id="stream" alt="Stream to play here." style="height: 250px;">
              </div>
                <div class="layout_padding gallery_section" style="padding:10%;">
                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                      <button class="btn btn-lg b" style="height:60px; font-size:18pt;" onclick="Message('start')">Start Stream</button>
                    </div>
                    <br>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                      <button class="btn btn-lg b" style="height:60px; font-size: 18pt;" onclick="Message('stop')">Stop Stream</button>
                    </div>
                  </div>
                </div>
            </div>

            <!-- Chat Section -->
            <div class="tab-pane active" id="tab2">
              <div class="layout_padding gallery_section" style="padding:8%;">
                <div class="row justify-content-center d-flex align-items-center" id="alert_box" style="display: none !important;">
                  <div class="alert alert-dismissible fade show text-center" role="alert" style="width: 50%; background-color: #131111; color:white; border-color:#131111;">
                    <strong style="font-size: 16pt;" id="alert_status">Success!</strong><span id="alert_message" style="font-size:14pt; margin-left: 10px;">Null</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>

                  <br>
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <button class="btn btn-lg b" id="recordButton" style="height:60px; font-size:18pt;">Start</button>
                  </div>
                  <br>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                    <button class="btn btn-lg b" id="stopButton" style="height:60px; font-size: 18pt;">Stop</button>
                  </div>
                  <p style="display: none;">
                      <audio id="recordedAudio"></audio>
                  </p>
                  <a id="audiofile" href="" download style="display: none;"></a>
                </div>
              </div>
                <div class="layout_padding gallery_section" style="background-color: #131111;">
                    <div class="container">
                        <div class="row">
                          <div class="col-lg-9 col-md-9 col-sm-8">
                            <input type="text" class="form-control" id="textMessage" placeholder="Enter Your Text." style="height:60px;">
                          </div>
                          <div class="col-lg-3 col-md-3 col-sm-4">
                            <button class="btn btn-lg sub" style="height:60px;" onclick="sendData()">Submit</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="copyright">2021 All Rights Reserved. <a href="#">Made by Team Tachyon</a></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

      <!-- Import Javascript Dependecies  -->
      <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
      <script src="{{ url_for('static', filename='js/record.js') }}"></script>
      <!-- <script src="js/record.js"></script> -->
      <script type="text/javascript">
        function Message(cmd)
        {
          if(cmd=="start")
          {
            streamURL = document.getElementById("stream").dataset.src;
            
            document.getElementById("stream").src=streamURL;
            document.getElementById('streamcontainer').style.display="block";
          }
          else{
             var content="";
            document.getElementById('streamcontainer').style.display="none";
            document.getElementById("stream").src=content;
          }
          const Http = new XMLHttpRequest();
          const url='https://mandeyidi.eu-gb.cf.appdomain.cloud/allowdeny?command='+cmd;
          Http.open("GET", url);
          Http.send();

          Http.onreadystatechange = (e) => {
            console.log(Http.responseText)
          }
        }
      </script>
      <script type="text/javascript">
        var postURL = "{{ url_for('receiveCommandData') }}" ;
      </script>
</body>
</html>