<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home Automation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <!-- Write code here -->
        <form 
        action = "https://api-speech-to-text.herokuapp.com/api/postAudio"
          method="POST" enctype="multipart/form-data">
        <input type="file" name="audio" id="audio">
        <input type="submit" value="submit">
        </form>
    <!-- Import Javascript Dependecies  -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
